doctype html
html
  head
    title
      | Charcuterie
    link(rel='stylesheet' href='.././styles/stylesheet.min.css')
    link(href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css')
  body
    div.wrapper
      div.container
        // HEADER NAV START
        header.main-header
          nav.navbar
            div.nav-container
              div.site-nav
                | First
                
              div.logo-nav
                | Second 
                
              div.contact-nav
                | Third
        // END HEADER NAV
        // FULL WIDTH IMAGE
        div.main-content-wrapper
          div.hero-image-container
            img.hero-image(src='https://www.helpguide.org/wp-content/uploads/fast-foods-candy-cookies-pastries-768.jpg')
            
            














//-
