

.nav-container
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  background-color:
  font-family: Lato;

.site-nav
  flex-grow: 1;
  background-color: pink;

.logo-nav
  flex: 3;
  background-color: lightblue;
  text-align: center;

.contact-nav
  flex: 1;
  background-color: lightgreen;

//HERO IMAGE--


.about-wrapper
  margin: 0px;
  padding: 0px;

.hero-image-container
  background-color: black;
  margin: 0px;
  padding: 0px;


// ABOUT SECTION

@media screen and (max-width:780px)
  .about-content-container
    width: 70%
    padding: 40px 80px 40px 40px;

@media screen and (max-width:600px)
  .about-content-container
    width: 100%
    padding: 20px;


@media screen and (min-width:780px)
  .about-content-container
    width: 40%
    padding: 150px 200px 150px 50px;
    font-size: 26px;

.about-wrapper
  font-family: 'Poppins', sans-serif;
  font-size: 26px;

.about-wrapper
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
